.plain-panel{
  background-color: #fefefe;
  margin-top: 90px;
  min-height: 100vh;
  height: auto;
  width: 100vw;
  margin-left: 0!important;
  position: relative;
}

.container-home{
  margin: 0!important;
  padding: 0!important;
}

.home-row{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.home-col{
  height: 100%;
}


.nav-side-menu {
  overflow: auto;
  font-size: 12px;
  font-weight: 200;
  text-align: left;
  background-color: #fefefe;
  box-shadow: 1px 0 5px -1px #00004c;
  position: relative;
  height: 100%;
  width: 100%;
}


.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;

}

.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #fefefe;
  background-color: #3c4982;
}

.nav-side-menu li a {
  text-decoration: none;
  font-size: 18px;
  color: #00004c;
  padding: 25px;
}

.nav-side-menu li:hover {
  border-left: 3px solid #fefefe;
  background-color: #3c4982;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.nav-side-menu li:hover a{
  color: #fefefe;
}


  .nav-side-menu .menu-list .menu-content {
    display: block;
  }

.add-file-wrapper{
  width: 100%;
  height: 120px;
  padding: 25px;
}

.add-file-btn{
  width: 100%;
  height: 100%;
  font-size: 14px;
  background-color: #3c4982;
  transition: all 1s ease;
}

.add-file-btn:hover{
  background-color: #fefefe;
  color: #3c4982;
  box-shadow: 1px 1px 5px #3c4982;
}

.glyphicon-btn{
  font-size: 20px;
}

.title{
  text-align: left;
  color: #60b3ff;
  font-size: 32px;
  font-weight: 100;
}

/* Document panel */

.container-document{
  height: 100%;
  padding-top: 30px;
}

.document-row{
  height: 100%;
  padding: 10px;
}

.document-col{
  height: 180px;
  margin: 5px;
}

.document-box{
  height: 100%;
  width: 100%;
  padding: 30px;
  font-size: 16px;
  color: #3c4982;
  box-shadow: 1px 0 4px -1px #202030;
}

.glyphicon-file{
  font-size: 76px;
  margin: 10px;
  color: lightgray;
}

.document-wrapper{
  text-decoration: none!important;
  cursor: pointer;
}

.upload-modal{
  height: 150px!important;
  width: 400px!important;
}

.submit-upload{
  margin: 25px;
  margin-left: 0!important;
  width: 150px!important;
  font-size: 14px;
  background-color: #3c4982!important;

}
